<h1>Listing properties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.location %></td>
        <td><%= link_to 'Book', new_property_book_path(property) %></td>
        <td><%= link_to 'Show', property %></td>
        <td>
          <% if user_signed_in? %>
            <%= link_to 'Edit', edit_property_path(property) %>
          <% end %>
        </td>
        <td>
          <% if user_signed_in? %>
            <%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
